@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
form {
    padding: 20px;
    max-width: 768px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
form input,
form button {
    outline: 0;
    margin: 10px 0;
    padding: 10px;
    display: block;
    background-color: white;
    border: 1px solid #ababab;
}
form button {
    background-color: #ababab;
    color: white;
    align-self: flex-start;
    text-transform: uppercase;
    font-weight: bold;
}
form button:hover {
    background-color: #a0a0a0;
}
form button:active {
    background-color: #6f6f6f;
}
form .error {
    border: 10px solid red;
    border-radius: 2px;
    padding: 0 10px;
}
form .success {
    border: 10px solid greenyellow;
    border-radius: 2px;
    padding: 0 10px;
}
form p {
    font-size: 11px;
}
form .guest {
    display: flex;
    flex-direction: row;
    align-items: center;
}
form .guest p {
    margin-right: 10px;
    font: 400 11px system-ui;
}
.logo {
    margin: 20px auto 20px 0;
    font-family: 'Luckiest Guy';
    font-weight: normal;
    line-height: 20px;
    user-select: none;
    transition-property: color, text-shadow;
    transition-duration: .5s, .5s;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 37px;
    text-transform: uppercase;
}
.logo:hover {
    color: black;
    text-shadow: 0 0 2px white;

}
.logo:hover a {
    color: black;
}
.logo a {
    color: white;
    text-decoration: none;
    font-family: 'Luckiest Guy';
}
.logo a span {
    display: block;
    font-size: 32px;
    line-height: 22px;
    font-family: 'Luckiest Guy';
}