$mainBlue: #4467c7;
$mainBlueActive: #2a4798;
$white: #ffffff;
$black: #000000;
$gray: #b3b3b3;
$error: #b32a2a;
$success: #49a057;

@mixin textDecorated($colorText, $colorBorder, $fontSize) {
    color: $colorText;
    text-shadow: 0 0 2px $colorBorder;
    font-size: $fontSize;
}

@mixin pseudoElement($top, $right, $bot, $left) {
    display: block;
    position: absolute;
    content: '';
    top: $top;
    left: $left;
    bottom: $bot;
    right: $right;
}